/*----------GLOBAL-----------*/
:root{
    --bg: rgb(250, 250, 250);
    --bg-alt: linear-gradient(to right, rgb(102, 56, 187), rgb(207, 71, 200));
    --text-prim: rgb(32, 32, 32);
    --overley: rgba(0,0,0,0.2);
    --note1: #fff740;
    --note2: #feff9c;
    --note3: #7afcff;
    --note4: #ff7eb9;
    --text: grey;
    --text-alt: rgb(207, 71, 200);
    --text-ter: rgb(102, 56, 187);
    --primary: lightgrey;
    --secondary: linear-gradient(to right, rgb(183, 165, 216),rgb(228, 181, 226));
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-behavior: smooth;
}
h2{
    color: var(--text);
}
h3{
    color: var(--bg);
}
.container{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: var(--bg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.header-container{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.name_container{
    display: flex;
    gap: 7px;
}

/*-------------SETTINGS------------*/
.settings-container{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4;
    transform: translateX(-100%);
    transition: 0.35s;
    display: flex;
}
.menu-container{
    width: 70%;
    max-width: 300px;
    height: 100%;
    padding: 15px 25px;
    background: var(--bg-alt);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.5%;
    letter-spacing: 0.05em;
    color: var(--bg);
}
.menu-close{
    flex-grow: 1;
}
.settings-header{
    margin-top: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-header-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
}
.dark-mode{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.menu-container .fa-times{
    font-size: 28px;
    color: var(--text);
}

/*-------------TO DO------------------*/
.select-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.clear-all{
    position: absolute;
    margin: 0 20px 0  0;
    visibility: hidden;
}
.select-all{
    margin: 0 20px 0 0;
    visibility: hidden;
}
.delete-btn-container{
    position: relative;
}
/*-----icons-------*/
.fas, .far{
    font-size: 24px;
}
.menu-container .fa-times, .fa-toggle-off, .fa-toggle-on{
    color: var(--bg);
    font-size: 28px;
}
.fa-toggle-on{
    visibility: hidden;
}
.fa-toggle-off{
    position: absolute;
}
.fa-plus{
    color: var(--bg);
}
.fa-exclamation{
    color: red;
    cursor: pointer;
}
.list-container{
    background: var(--bg);
    flex-grow: 1;
    padding: 15px;
    overflow-x: hidden;
    overflow-y: auto;
}
.list-container::-webkit-scrollbar {
    display: none;
}
.list-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 7px;
}
li{
    position: relative;
    list-style: none;
    padding: 10px;
    display: flex;
    align-items: center;
    margin: 0 0 7px 0;
    border-radius: 7px;
    color: var( --text-prim);
    cursor: pointer;
    background: var( --primary);
}
.rendered-list{
    overflow: hidden;
}
.checkbox{
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    right: 10px;
    visibility: hidden;
}
.checkbox input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
}
.checkmark {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    outline: 2px solid var(--bg);
    cursor: pointer;
    background: var(--primary);
}
.checkbox input:checked ~ .checkmark {
    background: var(--text);
}
button{
    background: none;
    border: none;
    color: var(--text);
    cursor: pointer;
}
.add{
    position: absolute;
    width: 65px;
    height: 65px;
    border-radius: 55px;
    background: var(--bg-alt);
    bottom: 70px;
    right: 20px;
    transition: 0.35s;
}
.input-container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    visibility: hidden;
    bottom: 0;
    z-index: 3;
}
.form-close{
    flex-grow: 1;
    background: var(--overley);
}
form{
    padding: 20px;
    background: var(--bg);
}
input{
    border: none;
    background: none;
    outline: none;
}
#to-do{
    width: 100%;
    height: 26px;
    font-size: 16px;
    border-radius: 3px;
    padding: 0 5px;
}
.btn-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 0 0;
}
.input-close{
    color: var(--text);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin: 0 25px 0 0;
}
#save{
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: var(--text-alt);
}
.delete-container{
    position: absolute;
    width: 100%;
    padding: 30px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--bg);
    bottom: 0;
    transform: translateY(100%);
    transition: 0.2s;
    z-index: 3;
}
.delete, .cancel{
    font-size: 18px;
    font-weight: 600;
    color: var(--text);
}
.visible{
    visibility: visible;
}
.hide{
    transition: 0.35s;
    transform: translateY(100%);
}
.show{
    transform: translateY(0%) translateX(0%);
    transition: 0.35s;
}
@media screen and (min-width:850px) {
    ul{
        flex-direction: unset;
        flex-wrap: wrap;
    }
    li{
        width: 49.25%;
    }
}

/*-------------NAVBAR-----------*/
.main-nav{
    width: 100%;
    padding: 18px 15px;
    background: var(--bg);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
}
.note, .todo{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--text);
}
.highlight{
    color: var(--text-alt);
}
.highlight-alt{
    color: var(--text-ter);
}

/*-------------NOTE-------------*/
.note-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg);
}
.note-list{
    display: -ms-flexbox;
    display: flex;
    flex-direction: unset;
    justify-content: space-between;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    gap: 7px;
}
.note-list li{
    border-radius: 7px;
    width: 48%;
    align-items: unset;
    outline: none;
    color: var(--text-prim);
}
.note-list li:nth-child(n+0) {
    background: var(--note2);
}
.note-list li:nth-child(2n+0) {
    background: var(--note4);
}
.note-list li:nth-child(3n+0) {
    background: var(--note3);
}
.note-list li:nth-child(4n+0) {
    background: var(--note1);
}
.note-list .checkbox {
    height: auto;
    bottom: 10px;
}
.note-list .checkmark{
    border-radius: 0;
    width: 0;
    height: 0;
    background: none;
    outline: none;
    border: none;
    border: 50px 0 50px 0;
    border-right: 24px solid var(--bg);
    border-top: 24px solid transparent;
}
.note-list input:checked ~ .checkmark {
    background: none;
    border-right: 24px solid var(--text);
}
@media screen and (min-width:600px) {
    .note-list li{
        width: 32%;
        padding: 15px;
    }
    .add{
        right: 30px;
    }
    .menu-container h3{
        font-size: 18px;
    }
    .menu-container .fa-times, .fa-toggle-off, .fa-toggle-on{
        color: var(--bg);
        font-size: 31px;
    }
}
@media screen and (min-width:1100px) {
    .note-list li{
        width: 24%;
        padding: 18px;
    }
    .add{
        right: 40px;
    }
    .menu-container h3{
        font-size: 22px;
    }
    .menu-container .fa-times, .fa-toggle-off, .fa-toggle-on{
        color: var(--bg);
        font-size: 33px;
    }
}